# Lists
Earlier, while discussing introduction to strings we have introduced the concept of a sequence in Python. In Python, Lists can be considered as the most general version of a "sequence". Unlike strings, they are mutable which means the elements inside a list can be changed!

In [2]:
#insert---->based on the index num
#extend---->collection of value
#append---->add a single value
#index----->fetch the dat vased on index number
#remove---->it will remove values
#pop------->remove the values
#clear
#reverse
#sort
#*********
#len
#sum
#max
#reversed
#sorted

In [3]:
#append:
mobiles=['Samsung','LG','Oneplus','Apple','Sample']
print(type(mobiles))

<class 'list'>

In [10]:
print(mobiles.append(['Redmi','lol']))

None

In [11]:
mobiles

['Samsung',
 'LG',
 'abcd',
 'Oneplus',
 'Apple',
 'Sample',
 'Redmi',
 'Honer',
 'sony',
 ['Redmi', 'lol']]

In [ ]:
# mobiles.extend(['Honer','sony'])
mobiles

In [7]:
mobiles.insert(2,"abcd")
mobiles

['Samsung',
 'LG',
 'abcd',
 'Oneplus',
 'Apple',
 'Sample',
 'Redmi',
 'Honer',
 'sony']

In [12]:
mobiles.remove("Samsung")

In [13]:
mobiles

['LG',
 'abcd',
 'Oneplus',
 'Apple',
 'Sample',
 'Redmi',
 'Honer',
 'sony',
 ['Redmi', 'lol']]

In [14]:
mobile.clear()

NameError: name 'mobile' is not defined

In [15]:
mobiles.clear()

In [16]:
mobiles

[]

In [17]:
# list does not have a delete option
mobiles=['Samsung','LG','Oneplus','Apple','Sample']
mobiles.delete()
mobiles

AttributeError: 'list' object has no attribute 'delete'

In [19]:
max(mobiles)

'Samsung'

In [23]:
mobiles['man']= "LG"

TypeError: list indices must be integers or slices, not str

In [46]:
lst=[12,24,35,24,88,155,88,120,155]
lst.pop(6)
lst.pop(3)
lst.pop()
lst

[12, 24, 35, 88, 155, 120]

In [61]:
lst=[12,24,35,24,88,155,88,120,155]
lst.remove(24)
lst.pop()
lst.append(5)
lst.insert(2,4)
lst.extend(["6",'3'])
lst

[12, 35, 4, 24, 88, 155, 88, 120, 5, '6', '3']

# Tuples
In Python, tuples are similar to lists but they are immutable i.e. they cannot be changed. You would use the tuples to present data that shouldn't be changed, such as days of week or dates on a calendar.

In [1]:
t = (1,2,3)

In [2]:
type(t)

tuple

In [3]:
# Can also mix object types
t = ('one',2)

# Show
l = ['sdf','sf']
l.sort()
l

['sdf', 'sf']

In [4]:
t[0]

'one'

In [5]:
t[-1]

2

# immutability

In [6]:
t[0]= 'change'

TypeError: 'tuple' object does not support item assignment

In [7]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'


# Sets
Sets are an unordered collection of unique elements which can be constructed using the set() function.

In [1]:
s={12,43,65},{45,75,97}

In [2]:
s

({12, 43, 65}, {45, 75, 97})

In [3]:
s1 = {10,20,30,"A","B","C"}
s2 = {10,20,30,"A"}

In [8]:
print(s1.union(s2))
print(s1|s2)

{'B', 'C', 10, 20, 'A', 30}
{'B', 'C', 10, 20, 'A', 30}

In [9]:
#subset
#intersection
#subset
#superset

# # Dictionaries
We have learned about "Sequences" in the previous session. Now, let's switch the gears and learn about "mappings" in Python. These dictionaries are nothing but hash tables in other programming languages.

In [1]:
# if we want to represent a group of elements with KEY - VALUE pairs

In [5]:
d= {
    101 : 'jack',
    102 : 'Rose',
    103 : 'Mike'
}

In [6]:
d

{101: 'jack', 102: 'Rose', 103: 'Mike'}

In [7]:
d[103]='John'

In [8]:
d

{101: 'jack', 102: 'Rose', 103: 'John'}

In [9]:
d[102]

'Rose'

In [10]:
print(d.get(103))

John

In [11]:
del d[101]

In [13]:
d

{102: 'Rose', 103: 'John'}

In [17]:
d.pop(102)

'Rose'

In [18]:
d.popitem()

(103, 'John')

# functions

In [19]:
# Building blocks of a program
# usage : reusable set of code, helps in debugging

In [20]:
def display():
    print("This is Display Function")

In [21]:
display()

This is Display Function

In [22]:
def display(a):
    print("Passed argument value : ", a)

In [24]:
display("man")

Passed argument value :  man

In [25]:
def display(a,b):
    return a+b

In [26]:
display(2,4)

6

In [27]:
def user(name, email, phone):
    print("NAME :", name)
    print("EMAIL :", email)
    print("PHONE :", phone)

In [28]:
user("john", "john@gmail.com", "675756")

NAME : john
EMAIL : john@gmail.com
PHONE : 675756

In [1]:
## types
# Required or positinal
# keyword arg
# default
# variable length

In [3]:
def add_two_num(a,b,c):
    print("value of a", a)
    print("value of b", b)
    print("value of c", c)
    return a+b+c
add_two_num(10,c=30, b=20)

value of a 10
value of b 20
value of c 30

60

In [4]:

def add_two_num(a,b,c=50):
    print("value of a", a)
    print("value of b", b)
    print("value of c", c)
    return a+b+c
add_two_num(10,c=30, b=20)

value of a 10
value of b 20
value of c 30

60

In [6]:
# variable lenght
# one dimen : *args
# two dimen : **kwargs

def add_nums_of_coll(*args):
    print(args)
add_nums_of_coll(10,20,30,40,50)

(10, 20, 30, 40, 50)

In [7]:
def add_nums_of_coll(*args):
    print(list(args))
add_nums_of_coll(10,20,30,40,50)

[10, 20, 30, 40, 50]

In [10]:
def add_nums_of_coll(*args):
    print(list(args))
add_nums_of_coll(10,20,30,40,50)

{'a': 1, 'b': 2, 'c': 3}

In [15]:
def add_nums_of_coll(*args):
    print(tuple(args))
    print(list(args))
    print(set(args))
add_nums_of_coll(10,20,30,40,50)

def add_nums_of_coll(**kwargs):
    print(kwargs)
add_nums_of_coll(a=10,b=20,c=30)

(10, 20, 30, 40, 50)
[10, 20, 30, 40, 50]
{40, 10, 50, 20, 30}
{'a': 10, 'b': 20, 'c': 30}

In [22]:
def add_two_num(a,b,c=50, **kwargs):
    print("value of a,b,c,d :", a,b,c)
    print(kwargs)
    return a,b,c
add_two_num(10,c=30, b=20, d=40)

value of a,b,c,d : 10 20 30
{'d': 40}

(10, 20, 30)